/*page home main*/

/*header - nav*/
.autour {
  border-bottom: 1px solid black;
  margin: 0;
}

.grey .fa, .nav a, .grey {
  color: #797979;
}

.border_left {
  border-left: 1px solid black;
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.pad-around {
  padding: 20px 0;
}

/*page main section 1*/
.p1_sec1 {
  background-image: url("../images/3214321413.jpg");
  background-position: center;
  background-size: cover;
  height: 800px;
  color: white;
}

.p1_sec1 button {
  margin-top: 50px;
}

/*page main section 2*/
.taille_300 {
  height: 300px;
  margin: 0;
}

.p1_box1 {
  margin-right: 25px;
  margin-left: 25px;
}

.box1_right {
  margin-left: 20px;
}

.bold {
  font-weight: bold;
  padding-top: 5px;
  margin: 0;
}

/*page main section 3*/
.p1_sec3 {
  background-color: #f6f6f6;
  padding-top: 50px;
}

.btn-violet {
  background-color: #0088f8;
  color: white;
  font-size: 1em;
}

.sec3_haut p, .sec3_haut h1, .sec3_haut button {
  margin: auto;
  margin-bottom: 40px;
}

/*page main section 4*/
.p1_sec4 {
  height: 800px;
}

.blue_back {
  background-color: #0088f8;
  color: white;
}

.black_back {
  background-color: black;
  color: white;
}

.noSpace_down {
  margin-bottom: 0;
}

.space_down {
  margin-bottom: 45px;
}

.space_10 {
  margin-bottom: 10px;
}

/*page main section 5*/
.p1_sec5 {
  height: 950px;
  margin-top: 95px;
}

.divider {
  margin: 25px 0;
}

.upper-divider {
  background: #0088f8;
  position: absolute;
  width: 100px;
  height: 3px;
}

.p1_box2 {
  margin: 10px 10px;
  padding: 0;
}

/*page main section 6*/
.p1_sec6 {
  background-color: #f7f7f7;
  height: 750px;
  padding-top: 95px;
}

.p1_box3 {
  margin: 30px 0 ;
}

.box3_text {
  margin: auto;
  width: 80%;
}

/*page main section 7*/
.p1_box4 p {
  margin: 40px 0;
}

.img_back {
  background: linear-gradient(to bottom, rgba(55,62,70,.8),rgba(55,62,70,.8)), url("../images/c-lad9xizbg-tim-gouw.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  height: 600px;
}

.btn-noBack {
  border: 1px solid white;
  background: none;
  color: white;
}

/*page main section 8*/
.p1_sec8 {
  height: 600px;
}

.sec8_right {
  margin-left: 50px;
  width: 35%;
}

.text_block {
  height: 85px;
  font-size: 0.8em;
  background: none;
}

/*page main section 9*/
.p1_sec9 {
  background-image: url("../images/sky.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
}

.p1_box5 {
  width: 200px;
  height: 170px;
  margin-right: 40px;
  padding-top: 20px;
}

.p1_box5_text {
  padding-top: 35px;
  width: 34%;
}

/*page main section 10*/
.p1_sec10 {
  height: 650px;
}

.p1_sec10 a {
  margin-top: 40px;
  color: black;
}

.p1_box6 {
  background-position: center;
  background-size: cover;
  height: 350px;
  padding: 25px 0 25px 25px;
}

.box6_back_left {
  background-image: url("../images/23545-825x600.jpg");
}

.box6_back_middle {
  background-image: url("../images/photography3-825x600.jpg");
  margin: 0 30px;
}

.box6_back_right {
  background-image: url("../images/aaron-burden-55603-825x600.jpg");
}

.box6_down {
  padding-left: 25px;
}

.box6_author {
  font-size: 0.8em;
  margin: auto;
  margin-left: 10px;
}

/*page main section 12*/
.p1_sec12, .pElement_sec7 {
  background-color: #0088f8;
}

/*page main footer*/
.p1_footer {
  background-color: #131719;
  padding: 60px 0;
}

.p1_footer hr {
  background: #797979;
  margin: 0;
}

.p1_footer ul {
  list-style-type: none;
  padding-left: 0;
  li {
    padding: 15px 0;
  }
  li:first-of-type {
    padding-top: 0;
  }
}

.text-small {
  font-size: 0.8em;
}

/*page main copyright*/
.copyright {
  background-color: #0b0e0f;
  box-sizing: border-box;
  margin: 0;
  padding: 20px 0;
  .copyright_right .fa {
    color: grey;
  }
}

.white {
  color: white;
}

/* home about us */

.h6-about {
  font-size: 12px;
  font-weight: bold;
}

/*page home section style*/
.pElement_header {
  background-image: url("../images/34253245-1.jpg");
  background-size: cover;
  background-position: center;
  height: 800px;
  margin: 0;
}

.pElement_sec1, .pElement_sec5, .pBlog_sec3 {
  height: 300px,
}

.pElement_sec2, .pElement_sec6, .pPortfolio_sec1, .pPortfolio_sec1-3 {
  height: 400px;
}

.pEl_box2 {
  background-color: white;
}

.noMargin {
  margin: 0;
  padding: 0;
}

.pElement_sec2, .pElement_sec4, .pElement_sec6, .pPhotography_sec2, .pContact_sec3 {
  background-color: #f5f5f5;
}

.pElement_sec4, .pPortfolio2_sec3 {
  height: 500px;
}

.pElement_sec7, .pPhotography_sec1, .p1_sec12 {
  height: 200px;
}

/*page element photography*/
.pPhotography_header {
  background: linear-gradient(to bottom, rgba(55,62,70,.8),rgba(55,62,70,.8)), url("../images/324143214.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .nav a {
    color: white;
  }
  .dropdown-menu a {
    color: #797979;
  }
}

.pPhotography_head {
  height: 600px;
}

.back_white {
  background: white;
}

.pPhotography_sec2 {
  height: 1250px;
}

/*page portfolio 1-2*/
.pPortfolio_box1 {
  margin-bottom: 30px;
}

.btn-grey {
  background: lightgrey;
  box-shadow: 0px 5px 20px 0px rgba(110,108,110,1);
}

/*page blog author*/
.pBlog_sec1 {
  background: linear-gradient(to bottom, rgba(0,0,255,.8),rgba(0,0,255,.8)), url("../images/alisa-kehl-42553.jpg");
  height: 800px;
  h1 {
    font-family: "Kaushan Script",cursive;
  }
}

/*page blog grid*/
.pBlogGrid_header {
  background-image: url("../images/2435434-1.jpg");
  background-position: bottom;
  background-size: cover;
  height: 800px;
}

.upper-divider_white {
  background: white;
  position: absolute;
  width: 100px;
  height: 3px;
}

.pBlogGrid_sec1 {
  background-color: #1a1a1a;
}

/*page home shop*/
.pShop_sec1 {
  background-image: url("../images/shop-fullwidth.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
}

.small_price {
  font-size: 0.8em;
}

/*page contact us*/
.pContact_sec1 {
  background: linear-gradient(rgba(62, 75, 254, 0.8), rgba(62, 75, 254, 0.8)), url("../images/map.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;
  hr {
    margin: 20px 0;
  }
}

.little_form {
  height: 550px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.round {
  background-color: rgb(62, 75, 254);
  border-radius: 50%;
  width: 120px;
  height: 120px;
}
