/*page home main*/

/*header*/
.autour {
  border-bottom: 1px solid black;
  margin: 10px 0 10px 0;
}

.grey .fa {
  color: #797979;
}

.border_left {
  border-left: 1px solid black;
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
}

a .fa {
  color: #797979;
}
/*page main section 1*/
.p1_sec1 {
  background-image: url("images/3214321413.jpg");
  background-position: center;
  background-size: cover;
  height: 800px;
  color: white;
}

.p1_sec1 button {
  margin-top: 50px;
}

/*page main section 2*/
.taille_300 {
  height: 300px;
  margin: 0;
}

.p1_box1 {
  margin-right: 25px;
  margin-left: 25px;
}

.box1_right {
  margin-left: 20px;
}

.bold {
  font-weight: bold;
}

/*page main section 3*/
.p1_sec3 {
  background-color: #f6f6f6;
  padding-top: 50px;
}

.btn-violet {
  background-color: #0088f8;
  color: white;
  font-size: 1em;
}

.sec3_haut p, .sec3_haut h1, .sec3_haut button {
  margin: auto;
  margin-bottom: 40px;
}

/*page main section 4*/
.p1_sec4 {
  height: 600px;
}

.milieu {
  margin: auto;
  width: 55%;
}
